/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(24,33,48);
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.87);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.ui-toast-message {
    z-index: 10000; /* ou um valor superior */
  }